﻿@model Sotis.Models.Entities.Attempt

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Attempt</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TakenTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TakenTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Accuracy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Accuracy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AttemptId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
